{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Which Password Do You Want to Share?</h1></div>
    <div class="row">
      <form role="form" id="password_create" method="post" autocomplete="off">
        <div class="col-sm-6 margin-bottom-10">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control" placeholder="This app allows you to share passwords in a secure way with the Icelantic team. Input a password that you'd like to encrypt, and click Generate URL. Share the one-time use URL with your intended recipient via email." aria-describedby="basic-addon1" autocomplete="off" required></textarea>
          </div>
        </div>

        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary" id="submit">Generate Secure Link</button>
        </div>
      </form>
    </div>
    <div class="row">
        <p class="lead">Please note that this tool only retains passwords for 24 hours, or until they're opened by the recipient.</p>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
